body
{
	background-color:gainsboro;
}

div
{
	text-align:center;
	font:bold 15pt calibri;
	color:orange;
}

h3
{
	width:20%;
	font:bold 15pt calibri;
	float:right;
	text-align:center;
	color:purple;
}

h4
{
	float:left;
	width:20%;
	font:bold 15pt comic sans ms;
	text-align:center;
	color:orange;
}

h5
{
	text-align:center;
}

h6
{
	text-align:center;
	font:bold 20pt Garamond
}

img, span
{
	padding:0px 5px;
	width:120px;
	color:green;
}